select.bmalSuitable, select.bmalSuitable option {    
    float:left;
    border-top-width: 1px;
    border-left-width: 1px;
    border-right-width: 1px;
    border-top-color: rgb(108, 140, 216);
    border-left-color: rgb(108, 140, 216);
    border-right-color: rgb(46, 81, 162);
    background-color: rgb(65, 101, 186);
    font-size: 11px;
    color: white;
    padding: 1px 6px;
    height: 25px;
    border-style: solid;
    border-bottom: 2px solid rgb(25, 42, 81);    
}
select.bmalSuitable option:disabled {
    background: rgb(186, 65, 65);
    border-top-color: rgb(216, 108, 108);
    border-left-color: rgb(216, 108, 108);
    border-right-color: rgb(162, 46, 46);
    border-bottom: 2px solid #511919;   
}
button.bmalSuitable {    
    cursor:pointer;
    background-color: #4165ba;
    border-style: solid;
    border-top-width: 1px;
    border-left-width: 1px;
    border-bottom-width: 1px;
    border-right-width: 1px;
    border-top-color: #6c8cd8;
    border-left-color: #6c8cd8;
    border-bottom-color: #2e51a2;
    border-right-color: #2e51a2;
    border-bottom:2px solid #192A51;
    font-family: "lucida grande", tahoma, verdana, arial, sans-serif;
    color: #FFFFFF;
    font-size: 11px;
    padding: 1px 6px;
    height: 25px;
} 
button.bmalSuitable:hover {
    background-color: #6080CB;
}
button.bmalSuitable.active,
button.bmalSuitable:active {
    background-color: #355090;
}
select.bmalSuitable:disabled,
button.bmalSuitable:disabled {
    background-color:#868FA5;   
    border-top-color: rgb(154, 164, 194);
    border-left-color: rgb(174, 186, 213);
    border-bottom: 2px solid rgb(88, 88, 88);
    border-right-color: rgb(132, 141, 161);
    color: #D2D2D2;
}
button.bmalSuitable.special {
    background-color: rgb(186, 65, 65);
    border-top-color: rgb(216, 108, 108);
    border-left-color: rgb(216, 108, 108);
    border-bottom-color: #4C0D0D;
    border-right-color: rgb(162, 46, 46);
}
button.bmalSuitable.special:hover {
    background-color: #CB6060;
}
button.bmalSuitable.special:active {
    background-color: #8E3636;
}